:root {
    color-scheme: light;
}

body {
    font-family: sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 15px;
    padding-bottom: 100px;
}

h1, h2, h3{
    color: #000000;
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.product-card {
    background: #f5f5f5;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.emoji {
    font-size: 40px;
    margin-bottom: 10px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

.quantity-controls button {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background: #3390ec;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

.quantity { font-weight: bold; font-size: 16px; color: #000000 }

.hidden { display: none; }

#cart-items { margin-bottom: 20px; }

.cart-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    color: #ffffff;
}

.form-container input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #ffffff;
    color: #0000000;
}

.secondary-btn {
    background: #888;
    color: white;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.total-price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    color: #0000000;
}
